.container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: max-content;
  margin: auto;
}
.profile-text {
  margin-left: 11px;
  margin-right: 11px;
}

.top-container {
  display: flex;;
  flex-direction: row;
  width: max-content;
  align-items: inherit;
}
.img-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-right: 7%;
}
.rank-img-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 7%;
}
/* .profile-rank-image {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
} */

.profile-paper {
  margin: 2px;
  height: fit-content;
  background-color: #ffffff00 !important;
  /* padding-left: 10; */
  /* padding-right: 10; */
}

.profile-name-info {
/* display: flex; */
justify-content: flex-start;
/* padding-bottom: 63px; */
}

.profile-stats {
display: flex;
justify-content: flex-end;
margin: auto;
/* padding: 88px; */
/* padding-bottom: 88px; */
}

.profile-mmr{
  display: flex;
  /* justify-content: flex-end; */
  margin: auto;
  /* padding-top: 88px; */
  /* padding-bottom: 88px; */
}

.profile-avatar {
  margin: 0px !important;
}
.profile-rank {
  margin: 0px !important;
}



.displayInfo {
  margin: 1px !important;

}

.profile-hero-icons {
  flex-direction: column;
  height: 197px;
  width: 36px;
  background-color: #ffffff00 !important;
}

.profile-hero-icons-parent {
  margin: 2px;
  height: fit-content;
}
