.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  width: 70%;
  float:right;
}
body {
  overflow: auto;
  margin: 0;
}
